@function wood($table) {
  $result: '\a';
  $widths: wood-widths($table);
  $padding: wood-str-repeat(' ', $wood-padding);

  @each $row in $table {
    $result: $result + $wood-separator;

    @for $i from 1 through length($row) {
      $cell: nth($row, $i);
      $spaces: wood-str-repeat(' ', nth($widths, $i) - str-length($cell));
      $result: $result + $padding + $cell + $spaces + $padding + $wood-separator;
    }

    $result: $result + '\a';
  }

  @return $result;
}
